//! **************************************************************************
// Written by: Map O.76xd on Sat Nov 09 00:38:53 2013
//! **************************************************************************

SCHEMATIC START;
COMP "In" LOCATE = SITE "B16" LEVEL 1;
COMP "Out" LOCATE = SITE "B15" LEVEL 1;
COMP "pdl_1/Olut<4>" LOCATE = SITE "SLICE_X43Y159" LEVEL 1;
COMP "pdl_1/Olut<3>" LOCATE = SITE "SLICE_X44Y159" LEVEL 1;
COMP "pdl_1/Olut<2>" LOCATE = SITE "SLICE_X45Y159" LEVEL 1;
COMP "pdl_1/Olut<1>" LOCATE = SITE "SLICE_X46Y159" LEVEL 1;
COMP "pdl_1/Olut<0>" LOCATE = SITE "SLICE_X47Y159" LEVEL 1;
SCHEMATIC END;

