//! **************************************************************************
// Written by: Map O.76xd on Thu Nov 07 19:07:24 2013
//! **************************************************************************

SCHEMATIC START;
COMP "C0<0>" LOCATE = SITE "B15" LEVEL 1;
COMP "C0<1>" LOCATE = SITE "A15" LEVEL 1;
COMP "C0<2>" LOCATE = SITE "A14" LEVEL 1;
COMP "C0<3>" LOCATE = SITE "B17" LEVEL 1;
COMP "C1<0>" LOCATE = SITE "C14" LEVEL 1;
COMP "C0<4>" LOCATE = SITE "A16" LEVEL 1;
COMP "C1<1>" LOCATE = SITE "C15" LEVEL 1;
COMP "C1<2>" LOCATE = SITE "E19" LEVEL 1;
COMP "C1<3>" LOCATE = SITE "F19" LEVEL 1;
COMP "C2<0>" LOCATE = SITE "D17" LEVEL 1;
COMP "C1<4>" LOCATE = SITE "C17" LEVEL 1;
COMP "C2<1>" LOCATE = SITE "E21" LEVEL 1;
COMP "C2<2>" LOCATE = SITE "D20" LEVEL 1;
COMP "C2<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "C2<4>" LOCATE = SITE "D15" LEVEL 1;
COMP "I" LOCATE = SITE "B16" LEVEL 1;
COMP "O" LOCATE = SITE "G20" LEVEL 1;
COMP "O_OBUF" LOCATE = SITE "SLICE_X45Y159" LEVEL 1;
COMP "Olut<1>" LOCATE = SITE "SLICE_X46Y159" LEVEL 1;
COMP "Olut<0>" LOCATE = SITE "SLICE_X47Y159" LEVEL 1;
SCHEMATIC END;

