# Engineer:       Praveen Kumar Pendyala
# Date:           10/27/2013
# Modified:       01/12/2014

CONFIG PART = 5vlx110tff1136-1;
 
# ************ IO pin mappings ************
# System clock - We won't be using any clk in our design.
#NET "clk" IOSTANDARD = LVCMOS33;
#NET "clk" LOC = AH15;

#CPU reset button - active low
NET "reset" IOSTANDARD = LVDCI_33;
NET "reset" LOC = E9;

# Push buttons for signal and config input
#SW10 North
NET "challenge_top" LOC = U8;
#SW11 South
NET "challenge_bottom" LOC = V8;
#SW12 East
NET "trigger" LOC = AJ7;
#SW13 West
#NET "signal" LOC = AK7;
NET "trigger" CLOCK_DEDICATED_ROUTE = FALSE;
# To override clock placement error. Not recommended though.


############## LED for Visual debugging and testing #####################
#LED 7
NET "response_bit" IOSTANDARD = LVDCI_18;
NET "response_bit" LOC = AE24;
##LED 6
#NET "LED[1]" IOSTANDARD = LVDCI_18;
#NET "LED[1]" LOC = AD24;
##LED 5
#NET "LED[2]" IOSTANDARD = LVDCI_18;
#NET "LED[2]" LOC = AD25;
##LED 4
#NET "LED[3]" IOSTANDARD = LVCMOS12;
#NET "LED[3]" DRIVE = 8;
#NET "LED[3]" LOC = G16;
##LED 3
#NET "LED[4]" IOSTANDARD = LVDCI_18;
#NET "LED[4]" LOC = AD26;
##LED 2
#NET "LED[5]" IOSTANDARD = LVCMOS12;
#NET "LED[5]" DRIVE = 8;
#NET "LED[5]" LOC = G15;
##LED 1
#NET "LED[6]" IOSTANDARD = LVCMOS12;
#NET "LED[6]" DRIVE = 8;
#NET "LED[6]" LOC = L18;
##LED 0
#NET "LED[7]" IOSTANDARD = LVCMOS12;
#NET "LED[7]" DRIVE = 8;
#NET "LED[7]" LOC = H18;

